
html {
    overflow-x: hidden;
    background-color: #666666; }

body {
    background-color: #666666;
}
.my-body {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #666666;
}
#my-foto {
  width: 55%;
}
.firstLetter {
  color: #F1CA3A;
}
.headWords   {
  color: #ffffff;
  font-style: italic;
  font-family: 'Existence Light', arial;
  margin-left: 20%
}
h2.headWords  {
 margin-top: -5%;
}
#header{
  background-color: #484848;
}
a.button.mNavButton {
  width: 90%;
  height: 4.5em;
  background-color: #484848;
  padding-top: 8%;

}
 a.button.mNavButton:hover {
     z-index:1000;
     box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
     -webkit-box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
     -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
     background-color: #F1CA3A;



}
 .description {
   color: #ffffff;

   font-family: 'Existence Light', arial;
 }
 .title {
   color: #ffffff;
   font-style: italic;
   font-family: 'Existence Light', arial;
 }
 a.contacts {
     color: #ffffff;
     border-bottom: dashed 1px;
 }
 a.contacts:hover {
     color:#F1CA3A;
 }
 a.contacts:focus {
     color:#F1CA3A;
 }
 .fi-social-facebook,.fi-social-google-plus, .fi-social-github, .fi-social-skype {
     font-size: 100px;
     color:#F1CA3A;




 }
.fi-social-facebook:hover{
    color: #3E5C9A;
    text-shadow: 1px 1px 2px white,  0 0 5px white;
    z-index: 1000;
}
.fi-social-google-plus:hover{
    color:#DD4E41;
    text-shadow: 1px 1px 2px white, 0 0 2px white;
    z-index: 1000;
}
.fi-social-github:hover{
    color:#0D2636;
    text-shadow: 1px 1px 2px white, 0 0 2px white;
    z-index: 1000;
}
.fi-social-skype:hover{
    color:#00ADF3;
    text-shadow: 1px 1px 2px white, 0 0 2px white;
    z-index: 1000;
}

[angular-ripple] {
    position: relative;
    overflow: hidden;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    transform: scale(0);
}

.angular-ripple.animate {
    animation: ripple 0.45s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
a.active-tab {
    width: 90%;
    height: 4.5em;
    background-color: #484848;
    padding-top: 8%;
    border-right: 8px solid #F1CA3A;

}
a.button.mNavButton.active-tab:hover {
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    background-color: #F1CA3A;
    border-right: 8px solid #484848;
}
.hidden {
    visibility: hidden;
}
.skill {
    height: 120px;
    width: 90%;
    background-color: #484848;
    margin: 2% 0 2% 0;
}
.skill h1 {
    color: #ffffff;
}
.skill img {
    margin-top: 2.5%;

}
.know-div{


    background-color: #F1CA3A;
}

.medium-8.columns.know-div {
    background-color: #F1CA3A;
    margin-top: -2%;
    height:55px;
    vertical-align: baseline;
}
.small-8.columns.know-div {
    background-color: #F1CA3A;
    margin-top: -2%;
    height: 4em;
    vertical-align: baseline;
}
.know-div:hover {
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    background-color: #F1CA3A;
}
.place {
    background-color: #484848;
    margin-top: 14px;
    min-height: 242px;
    width: 95%;
}

.place img {
    width: 100%;
    margin-top: -199px;
}
.year-button-group {

    margin-top: -74px;

}
.ed-head{
    background-color: rgba(241, 202, 58, 0.18);
    z-index: 100;
    height: 200px;
}
.place h1 {
    z-index: 100;
    position: relative;
    top: 20px;
    font-weight: bold;
    font-family: 'Existence Light', arial;
    color: rgba(0, 0, 0, 0.48);
}
.ed-head:hover {
    background-color:#F1CA3A;

}
.year-button {
    background-color: #484848;
}
.year-button:hover {
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    background-color: #F1CA3A;
}
.active-year-button {
    background-color: #F1CA3A;
    border: 1px solid #F1CA3A;
}
.input-query {
width: 90%;
    height: 50px;
    margin-top: 14px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Existence Light', arial;

}
::-webkit-input-placeholder {

    color: rgba(72, 72, 72, 0.70);
    font-size: 1.2em;
}
:-moz-placeholder {
    color:    #484848;
    opacity:  1;
}
::-moz-placeholder {
    color:    #484848;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #484848;
}
.my-modal {
 background-color:#484848;
    font-family: 'Existence Light', arial;
    border: 1px solid #F1CA3A;
    border-radius: 5px;
}
.my-modal h2, .my-modal h3 {
    color: #ffffff;
}
.my-modal h1 {
    color: #F1CA3A;
}
.for-search {
    visibility: hidden;
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0
}
.mobile-button-group {
    list-style: none;
    margin: 0 0 0 0;
    width: 100%;



}

.mobile-button-group li {
    display: inline;
    margin: 0 0 0 0;
    text-align: center;

}
a.button.mobile-navigation-button {
    background-color: #484848;
    width: 33%;
    margin: 0 -2px 0 0;
    height: 70px;
    border: 2px solid #666666;


}
a.button.mobile-navigation-button:hover {
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    background-color: #F1CA3A;
}
a.button.mobile-navigation-button:active {
    background-color: #484848;
    width: 33%;
    margin: 0 -2px 0 0;
    height: 70px;
    border: 2px solid #666666;
}
a.button.mobile-navigation-button.mobile-active-tab{
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.29) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    background-color: #F1CA3A;
}