body {
    background-color: #F1CA3A;

}
h1  {

    font-size: 1000%;
    text-align: center;
    font-family: 'Existence Light', arial;
    font-weight: 700;

}
h2 {

    font-size: 600%;
    text-align: center;
    font-family: 'Existence Light', arial;
    font-weight: 800;
}

{


}
.img-div  img {


    position: fixed;
    right: 0;




}